* {box-sizing:border-box;}

body{
    background-color: #333333;
    font-family: Courier;
    background-image: url(img/escheresque_ste.png);
    background-repeat: repeat;
    color: #CCC;
}
.gray{
  background-color: rgba(90,90,90,0.8);
}
#form-container{
    display:flex;
    justify-content: flex-start;
}
#label1, #label2{
    padding-right: 10px;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
}
.greeting{
    text-align: center;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black;
}
h3{
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black;
}
.bgimg{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}
#wikipedia-links, #nytimes-articles{
    margin-left: 10px;
    padding-left: 10px;
}

/*Media Queries */
@media screen and (min-width: 1018px){
    #content{
        display: flex;
    }
    #wiki{
        height: 350px;
        padding:10px;
        border-left: dashed 1px black; 
        overflow: auto; 
        order: 2;
        width: 20%;

    }
    #nyt{
        height: 350px;
        padding: 10px;
        overflow: auto;
        order: 1;
        width: 80%;
    }
}
@media screen and (max-width: 1018px){
    #content{
        display: flex;
        flex-direction: column;
    }
    #wiki{
        margin-top: 20px;
        padding:10px;
        overflow: auto;
        order: 2;
        width: 55%;
    }
    #nyt{
        padding: 10px;
        overflow: auto;
        order: 1;
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    #form-container, #label1, #label2{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 421px){
    #nytimes-header, #wikipedia-header{
        font-size: 16px;
   }
   #form-container{
    flex-direction: column;
   }
}

